listalibros.dtd

<!ELEMENT lista_libro (libros*)>
<!ELEMENT libro (autor, titulo, Isbn, editorial, fecha_publicacion)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (apellido1, apellido2, nombre)>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT Isbn (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fecha_publicacion (#PCDATA)>
