clientes/clientes.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT cliente (sede+,numero,coste,resumen,plazo)?>
<!ELEMENT sede (direccion*,(cliente|empleado|fecha)*,descripcion?)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT empleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
