clientes/clientes.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT clientes (sede)+>
<!ELEMENT sede (nombreEmpleado,fecha,descripcion,cliente+)>
<!ELEMENT nombreEmpleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT cliente (codigoCliente?,numero,coste,resumen,plazo)>
<!ELEMENT codigoCliente (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>