concesionario/concesionario.dtd

<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (codigo, marca, modelo, matricula, potencia, plaza, numPuertas)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plaza (#PCDATA)>
<!ELEMENT numPuertas (#PCDATA)>